<div class="row mt-5">
  <div class="col-md-4 mb-3">
    <div class="card text-center">
      <div class="card-body">

        <div class="row">

          <div class="input-field col s12">
            <!-- this is the div class which navigate the admin functions -->
            <ul class="navbar-nav mr-auto">

              <!-- routerLink will call to the folder which it declare -->
              <li class="nav-item">
                <a class="nav-link" routerLink="../my-selection" routerLinkActive="active">SEARCH</a>
                <!-- this will route to my-selection -->
              </li>
              <!-- end of li -->
            </ul>
            <!-- end of ul -->

            <ul class="navbar-nav mr-auto">

              <!-- routerLink will call to the folder which it declare -->
              <li class="nav-item">
                <a class="nav-link" routerLink="../employee" routerLinkActive="active">ADD KEYWORD</a>
                <!-- this will route to employee -->
              </li>
              <!-- end of li -->
            </ul>
            <!-- end of ul -->
          </div>
          <!-- end of div -->
        </div>
        <!-- end of div -->
      </div>
      <!-- end of div -->
    </div>
    <!-- end of div -->
  </div>
  <!-- end of div -->
</div>
<!-- end of div -->